spring:
  datasource:
    url: jdbc:mysql://localhost:3306/myshop_db?serverTimezone=Asia/Seoul
    username: root
    password: 11111111
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        format_sql: true
    show_sql: false # sout에 출력

logging.level:
  org.hibernate.SQL: debug # logger에 출력
  org.hibernate.type: trace # 쿼리 파라미터 로그 남기기